@import 'tailwindcss';

:root {
  --primary: #d381b5;
}

@theme inline {
  --color-primary: var(--primary);
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
}

body {
  font-family: var(--font-inter);
}
